################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.cache
**/.vs
**/obj/
**/bin/
*.ncrunchsolution*
*.ncrunchproject*
/CSharpDesignPatterns.sln.DotSettings.user
